.op{
    opacity : 0.6;
}

.bg-wht{
	width: 100%;
  height: fit-content;
	background-color: white;
}

.bg-grey{
	width: 100%;
	background-color: #F5F5F5;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 0px;
  transition: top 0.6s;
  z-index: 999;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.445);
}

.hidden {
  top: -100px;
}

#section2{
  background-image: url("/media/mpimg.png");
  height: 0% !important;
}

.bg-hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/media/bg.jpg");
    background-repeat: no-repeat;
	background-size: cover;
}

#particles-js{
    height:100%;
    width:100%;
    z-index:2;
}

#he{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
    z-index: 5;
}

.skills {
  margin-top: 30px;
}
.item {
  margin-bottom: 30px;
}
.skills h6 {
  font-size: 13px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.skills-progress {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
  position: relative;
}
.skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 5px;
  background-color: #1c1c1c;
  transition: all 1s;
}
.skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 11px;
  color: #fff;
}
.imag{
  height: 100%;
  width: 100%;
}
footer{
  height: auto;
  width: 100%;
  background-color: #1c1c1c;
  color: #ffffff;
}

#contact{
  height :720px;
	width: 100%;
	background-color: white;
}
.non{
  list-style: none;
  padding-bottom: 20px;
}

a{
  text-decoration: none;
}

.row .icon:hover{
  background-color:#F5F5F5 !important;
  color: #000000 !important;
  cursor: pointer;
}

a.icon{
  display: inline;
  border-radius: 50px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  background-color: #1b1717d2;
}
span.icons{
  display: inline;
  border-radius: 70px;
  box-shadow: #000000;
  padding: 0.5em 0.6em;
  background-color: #F5F5F5;
  color:#000000;
}
.row .icons:hover{
  background-color: #000000 !important;
  color:#f7f7f7 !important;
}
.light{
  background-color: #F5F5F5 !important;
  color :#000000 !important;
  position: relative;
  z-index:99;
}

/* media Query*/
@media only screen and (min-width:480px){
  
}

@media only screen and (min-width:768px){
  
}

@media only screen and (min-width:1140px){
  
}