<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My profile</title>
    {% include 'bootstrap5.html' %}
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true">
<div>
<nav id="navbar" class="hidden">
<div class="navbar navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid">
    <a class="navbar-brand h1" href="#">My Profile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> My Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id="navbar">
        <ul class="nav nav-underline navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#project">Projects</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>